@charset "utf-8";

// Bulma
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-helpers/bulma-helpers";

.task-container {
    white-space: nowrap;
    overflow-x: auto;
    background: red;
    padding: 30px;
    height: 100%;
}

.task {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;

    &:not(:first-child) {
        margin-left: 30px;
    }
}

html,
body {
    height: 100%;
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-content {
    background: purple;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
}

.list-card {
    margin-bottom: 5px;
}

.list-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-card-button,
.add-card-save,
.add-card-options {
    margin-top: 15px;
}

.add-card-button {
    width: 100%;

    border: none;
    background: none;
    font-size: 18px;
    text-align: left;
    color: #999;

    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: #ddd;
        color: #666;
    }

    &::before {
        content: "\f067";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }
}

.add-card-save {
    background: transparent;

    .textarea {
        min-height: 80px;
        max-height: 160px;

        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
            0 0px 0 1px rgba(10, 10, 10, 0.02);

        border: none;
        resize: none;
    }
}

.add-card-options {
    display: flex;
}

.add-card-cancel {
    margin-left: 15px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: #666;
    cursor: pointer;

    &:hover {
        color: #000;
    }
}
