.list-card {
    margin-bottom: 5px;
    cursor: pointer;
    &:hover {
        background: #f6f6f6;

        .list-card-icon {
            display: inline-block;
        }
    }

    &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-icon {
        color: #999;
        position: relative;
    }

    $ghost-color: hsl(200, 10%, 60%);

    &.is-ghost {
        &,
        & * {
            background: $ghost-color !important;
            color: $ghost-color !important;
        }
    }
}
