$ghost-color: hsl(200, 5%, 30%);

.task-container {
    white-space: nowrap;
    overflow-x: auto;
    padding: 30px;
    height: 100%;
}

.task {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;

    &:not(:first-child) {
        margin-left: 30px;
    }

    &.is-ghost {
        overflow: hidden;
        &,
        & * {
            background: $ghost-color !important;
            border-color: $ghost-color !important;
            color: $ghost-color !important;
            box-shadow: none !important;
        }
    }
}
